.category-carousel {
	list-style: none;
	.category-carousel-container {
		overflow: hidden;
		border-radius: 5px;
		margin-bottom: 8px;
		&:hover .category-carousel-img {
			transform: scale(1.15);
		}
		.category-carousel-img {
			height: 300px;
			border-radius: 5px;
			transition: all .5s;
		}
		.category-carousel-card {
			height: 300px;
		}
	}
	.footer {
		color: white;
		background: rgba(0, 0, 0, 0.7);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.slick-next {
		right: 13px;
	}
	.slick-next, .slick-prev {
		color: white!important;
		&:before {
			opacity: 1;
			color:white;
			font-size: 32px;
		}
	}
}

.category-carousel.carousel-mode {
	max-height: 300px;
	display: flex;
	gap: 16px;
	overflow: hidden;
}
